<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<!-- 数据库链接字符串 -->
	<connectionStrings>
		<add name="Books" connectionString="Server=.;uid=sa;pwd=123;database=BooksDB"/>
	</connectionStrings>
</configuration>